.offer-trip{
  textarea.form-control {
    width: 100%;
    height: 90px;
  }

  h1 {
    margin: 2%;
    text-align: center;
    color: white;
  }

  .offer-label {
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
  }
  
  .offer-input {
    display: flex;
    justify-content: space-between;
  }
}


