h4.card-title {
    font-size: 1.2rem;
}

h5.mt-4 {
    font-size: 1rem;
    margin-top: 0 !important;
}

.card.h-100 {
    transition: all 0.2s ease-in-out;
    width: 250px;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px -2px 20px -1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.card.h-100:hover .card-body,
.card.h-100:hover {
    cursor: grab;
    box-shadow: 0px -2px 20px -1px #64c3fff5, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
}

.card.h-100:hover {
    transform: scale(1.05);
}

.card-body {
    box-shadow: 0px 5px 9px -2px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
    text-align: left;
    padding: 10px 10px 10px 40px !important;
    height: 185px;
}

.card-body i {
    padding-right: 5px;
}

.card-info {
    display: inline-block;
}