.edit {
  .edit-title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 2%;
    text-align: center;
    color: white;
  }

  .edit-form {
    .edit textarea.form-control,
    .edit-label,
    .edit-input {
      display: flex;
      justify-content: space-around;
    }

    .edit-label {
      label {
        color: white;
      }
    }
  }
}



.driver {
  font-weight: bold;
}

.card-img-top {
  height: 200px;
}

.jumbotron.my-4 {
  margin-top: 0 !important;
}

section > div.container {
  padding-top: 40px;
}
