.login-page-title {
  margin: 2%;
  text-align: center;
}

.login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  width: 40% !important;

  .login-form:nth-child(2) {
    background-color: red;
  }

  input {
    text-align: center;
  }
}
