@import url("https://use.fontawesome.com/releases/v5.12.1/css/all.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body {
  position: relative;
}

body::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.5)),
    url("https://www.mitsubishicars.com/content/dam/mitsubishi-motors-us/images/siteimages/seo-images/up-to-speed/Mitsubishi-Lancer-Hero-fb.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -25px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

main {
  position: relative;
  min-height: 91vh;
}

input.form-control-2,
textarea.form-control,
input.form-control,
textarea:disabled {
    box-shadow: 0px -2px 20px -1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
}

.form-group textarea {
  resize: none;
}

.form-group p {
  color: #f8f9fa;
  text-shadow: 1px 1px #007bff;
  font-size: 20px;
  font-style: italic;
}

.form-control-2 {
  text-align: center;
  display: block;
  width: 45%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea:disabled {
  width: 100%;
  resize: none;
}

input.form-control-2::placeholder,
textarea.form-control::placeholder {
    color: rgb(167, 162, 162);
}

textarea.form-control:focus,
input.form-control:focus,
input.form-control-2:focus {
    border: 1px solid #80bdff;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: none;
}

textarea,
textarea.form-control,
textarea:disabled {
    padding: 5px 10px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    word-wrap: break-word;
}

textarea,
input {
    background: rgba(0, 0, 0, 0.6);
}

.login-page > h1,
.register-page > h1,
.offer-trip > h1 {
    margin: 2%;
    text-align: center;
}

.login,
.register {
    width: 40% !important;
}

.login input,
.register input {
    text-align: center;
}

input.form-control-2::placeholder,
textarea.form-control::placeholder {
    color: rgb(167, 162, 162);
}

div.container .register,
div.container .login {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.edit textarea.form-control,
.offer-trip textarea.form-control {
    width: 100%;
    height: 90px;
}

.edit-label,
.offer-label {
    display: flex;
    justify-content: space-around;
}

.edit-input,
.offer-input {
    display: flex;
    justify-content: space-between;
}

.container {
  max-width: 1500px;
}

.line {
  box-shadow: 2px 0px 4px 1px #f4c537, inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
  border: 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

img.card-img-top {
  height: 170px;
}

.row {
  justify-content: center;
  margin-top: 40px;
}
