.container {
  .trip {
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 75px;
    color: white;

    .lead {
      margin-bottom: 0;
    }
  }

  .no-trips {
    width: 100%;
    margin-top: 30px;
    text-align: center;

    .no-trips-image {
      box-shadow: 0px -2px 20px -1px #f4c537,
        inset -14px -14px 30px -13px rgb(0 0 0 / 55%);
      opacity: 0.95;
      margin-bottom: 10px;
    }

    .lead {
      color: white;
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-style: italic;
    }
  }
}
